.bg-acerca {
    background: rgba(0, 0, 0, 0.5) url(../images/acercade.jpg);
    height: 780px;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}

.page-about {
    width: 80%;
    margin: 30px auto;
}

.about-intro h2 {
    color: #488eac;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 50px;
    text-align: center;
}

.about-intro p {
    font-size: 21px;
    text-align: justify;
    margin: 28px 0px;
    line-height: 1.3;
}

.page-about .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.page-about .block {
    margin: 25px 0px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

.page-about .text h2 {
    color: #488eac;
    letter-spacing: 1px;
    font-weight: 800;
    margin: 5px 0px;
    font-size: 30px;
}

.page-about .text p {
    font-size: 20px;
    padding: 10px 0px;
    line-height: 1.3;
    text-align: justify;
}

.page-about .text {
    max-width: 600px;
    padding: 35px;
}

.page-about .image {
    max-width: 600px;
}

.page-about .image img {
    width: 100%;
    transition: .5s;
}

.page-about .image img:hover {
    opacity: .8;
}