.bg-home {
    background: rgba(0, 0, 0, 0.5) url(../images/Banner.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}

.page-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-home>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 40px auto;
}

.page-home h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px;
    letter-spacing: 4px;
    font-weight: 800;
    color: #488eac;
}

.page-home p {
    text-align: center;
    font-size: 21px;
    margin-top: 10px;
    letter-spacing: 1px;
    font-weight: 500;
    width: 65%;
    line-height: 1.6;
}

.page-home .cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 25px 70px;
}

.page-home .card {
    width: 375px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    margin: 40px;
    transition: all 0.25s;
}

.page-home .card:hover {
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.2);
    transform: translateY(-25px)
}

.page-home .cards-container img {
    width: 100%;
    height: 290px;
    padding: 16px;
    border-radius: 25px;
    transition: all 0.5s ease 0s;
}

.page-home .card img:hover {
    opacity: .89;
}

.page-home .card-content {
    padding: 16px 18px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-home .card-content h2 {
    font-size: 27px;
    margin-bottom: 10px;
    text-align: center;
    color: #02638d;
}

.page-home .card-content p {
    font-size: 15px;
    line-height: 1.3;
    text-align: center;
    margin: 10px 0px;
}

.page-home .card-content a {
    display: inline-block;
    padding: 10px 35px;
    text-decoration: none;
    border: 1px solid #1c7499;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 6px;
    color: #1c7499;
    font-weight: 550;
    transition: all 0.5s ease 0s;
}

.page-home .card-content a:hover {
    color: white;
    background-color: #1c7499;
}