.page-login {
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5) url(../images/loginfondo.jpeg);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background-repeat: no-repeat;
}

.page-reservation {
    background: rgba(0, 0, 0, 0.67) url(../images/reservar.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background-repeat: no-repeat;
}

.page-register {
    background: rgba(0, 0, 0, 0.67) url(../images/loginfondo.avif);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background-repeat: no-repeat;
}

.pagina-login .crear {
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background-repeat: no-repeat;
}

form {
    width: 450px;
    color: white;
    border: 4px solid rgba(192, 192, 192, 0.37);
    background: rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding: 38px 40px;
    margin-bottom: 55px;
}

form h1 {
    text-align: center;
    font-size: 38px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.texto {
    text-align: center;
    font-size: 18px;
    margin-top: 23px;
    letter-spacing: 1px;
}

.bloque {
    font-size: 18px;
    margin: 15px 0;
    font-weight: 500;
    letter-spacing: 1px;
}

.campo option {
    color: #333;
    background-color: #fff;
}

.campo {
    width: 100%;
    border-radius: 20px;
    padding: 12px 18px;
    background: transparent;
    border: 2px solid rgba(192, 192, 192, 0.5);
    font-size: 16px;
    color: #fff;
}

input::placeholder {
    color: rgb(207, 205, 205);
    font-weight: 500;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.boton input {
    padding: 12px 50px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    background: transparent;
    color: white;
    border: 2px solid rgba(192, 192, 192, 0.247);
    transition: .5s ease;
}

.boton input:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.575);
    border: 2px solid rgba(0, 0, 0, 0.034);
}

.crear {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.crear p {
    font-weight: 500;
    letter-spacing: 1px;
}

.crear a {
    margin: 15px 0px;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    background: transparent;
    color: white;
    border: 2px solid rgba(192, 192, 192, 0.247);
    transition: .5s ease;
}

.crear a:hover {
    text-decoration: underline;
    color: white;
    background-color: rgba(0, 0, 0, 0.575);
    border: 2px solid rgba(0, 0, 0, 0.034);
}

.linea {
    margin: 30px 0;
    opacity: 0.7;
    margin-top: 35px;
    width: 100%;
    height: 3px;
    background-color: rgba(192, 192, 192, 0.5);
}

.cuadro {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.terminos {
    display: flex;
    margin-top: 23px;
}

.check {
    margin-right: 12px;
}