.page-content {
    margin: 20px auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-content>h2 {
    font-size: 50px;
    color: brown;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 800;
    margin-bottom: 30px;
}

.main-content .container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main-content .container1 div {
    margin: 20px 40px;
}

.main-content .image-content {
    max-width: 650px;
}

.main-content .image-content img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.8);
    padding: 10px;
    transition: 0.5s;
}

.main-content .text {
    text-align: justify;
    max-width: 650px;
}

.main-content .text p {
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 2px;
    text-align: justify;
    margin-bottom: 10px;
    font-weight: 500;
    width: 100%;
}

.main-content .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
}

.main-content .data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #771717;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    max-width: 750px;
    padding: 30px 8px;
    color: white;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
    transition: 0.4s;
}

.main-content .data:hover {
    transform: translateY(-25px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.main-content .data h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.main-content .line {
    width: 350px;
    height: 1px;
    background-color: #fff;
}

.main-content .data p {
    margin-top: 20px;
    width: 86%;
    text-align: center;
}

.main-content .data ul {
    margin-top: 20px;
    margin-bottom: 30px;
    list-style: none;
}

.data ul li {
    margin: 13px;
    cursor: default;
}

.data ul li i {
    margin-right: 10px;
}

.data button {
    padding: 10px 20px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border: 1px solid #fff;
    background-color: #771717;
    transition: all 0.4s ease 0s;
}

.data button:hover {
    color: #771717;
    background-color: #fff;
    cursor: pointer;
}

.main-content .container2 figure {
    max-width: 700px;
    margin: 10px;
}

.main-content .container2 figure img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.8);
    padding: 10px;
    transition: 0.5s;
}

.main-content .container2 figure figcaption {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
    cursor: default;
}

.main-content .photos {
    margin-bottom: 40px;
    margin-top: 30px;
}

.main-content .photos h2 {
    margin-top: 15px;
    color: brown;
    font-size: 50px;
    text-align: center;
    font-weight: 800;
    letter-spacing: 2px;
}

.main-content .photos>div {
    display: flex;
    justify-content: center;
}

.main-content .gallery {
    display: flex;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    overflow: hidden;
}

.main-content .gallery img {
    border-radius: 20px;
    width: 400px;
    height: 300px;
    object-fit: cover;
    padding: 8px;
    transition: 0.5s;
}

.main-content img:hover {
    opacity: 0.8;
}

.main-content .block {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

.main-content .block .photo img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.8);
    padding: 10px;
    transition: 0.5s;
}

.main-content .photo {
    max-width: 650px;
    margin: 30px;
}

.main-content .text {
    text-align: justify;
    max-width: 650px;
    padding: 30px;
}

.main-content .text h2 {
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 2px;
}

.main-content .text p {
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 1px;
    text-align: justify;
    margin-bottom: 10px;
    font-weight: 500;
    width: 100%;
}

.main-content .line {
    width: 100%;
    height: 2px;
    margin-top: 40px;
    background-color: silver;
}

/* Responsive */
@media (max-width: 768px) {
    main>h2 {
        font-size: 35px;
    }

    .img,
    .photo,
    .text {
        max-width: 100%;
        padding: 15px;
    }

    .data {
        margin: 20px;
    }

    .gallery img {
        width: 300px;
        height: 225px;
    }
}